// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.media-heading {
  margin-top:10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

p {
  font-weight: 100;
}

.article-padding-bottom {
  padding-bottom: 130px;
}

footer {
  position: fixed;
  padding: 10px 20px;
  height: 130px;
  bottom: 0;
  width: 100%;
  background-color: #f7ff31;

}

footer .images {
  float: right;
  margin-right: -20px;
}


// footer .articles a {
//   font-family: "Roboto";
//   font-weight: 900;
//   text-decoration: none;
//   color: #000;
//   font-size: 18px;
//   text-align: left;
//   line-height: 20px;
// }
