// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.media-heading {
    margin-top:10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

p {
  font-weight: 100;
}
